@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;900&family=Raleway:ital,wght@0,600;0,700;1,600;1,700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}
:root{
	--bodyColor: linear-gradient(to right, #595fd1, #8c91f7);
	--formColor: #f8f9fd;
	--textColor: #242a2f;
	--borderColor: #9aa1af;
	--buttonColor: #595fd1;
	--shadowColor: rgba(0, 0, 0, .5);
}
body{
	height: 100vh;
	display: grid;
	place-content: center;
	background-image: var(--bodyColor)
}
form{
	width: 450px;
	background-color: var(--formColor);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    row-gap: 40px;
	padding-bottom: 30px;
	box-shadow: 0px 5px 15px var(--shadowColor);
}
form,input,button{
    border-radius: 10px;
}
form h1{
	font-size: 4em;
	font-weight: 500;
	margin: 15px 0;
	color: var(--textColor);
	text-transform: capitalize;
}
form h1::first-letter{
	color: var(--buttonColor);
	font-size: 2em;
	font-weight: 300;
}
form div{
	width: 85%;
	justify-content: inherit;
	display: inherit;
	flex-direction: inherit;
	row-gap: 10px;
}
form div input{
	padding: 15px;
	background-color: transparent;
	border: none;
	border: 1px solid var(--borderColor);
	outline: none;
}
input,
label{
	font-size: 18px;
	color: var(--textColor);
}
form button{
	display: inline-flex;
	align-content: left;
	padding: 15px 28px;
	background-color: var(--buttonColor);
	color: var(--formColor);
	border: none;
	font-size: 18px;
	cursor: pointer;
}